.quantity{
    max-width: 100px;
}

.row-list{
    margin-bottom: 30px;
}

.container-list{
    padding-left: 150px;
    padding-right: 150px;
}

.delete-icon{
    align-self: end;
    margin-left: 20px;
}

.delete-icon:hover {
    cursor: pointer;
}