.panel-container {
  padding-top: 20px;
  border-top: 0.15em solid rgba(53, 61, 71, 0.51);
}

h2 {
  margin-bottom: 30px;
}

.item {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  border: none;
  margin-bottom: 35px;
}

.op-checkbox{
  transform: scale(1.5);
}

.line{
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 0.15em solid rgba(53, 61, 71, 0.51);
}